A:visited {
	text-decoration: none;
	color: #000000
}

A:active {
	text-decoration: none;
	color: #000000
}

A:hover {
	text-decoration: underline;
	color: #000000
}

A:link {
	text-decoration: none;
	color: #000000
}

body {
	margin: 0px 0 0 0;
	background: #ffffff;
	/*background:url('../images/shop/mybg.gif');*/
	background-repeat: repeat;
	scrollbar-face-color: #e9f5fb;
	scrollbar-highlight-color: #fbfbfb;
	scrollbar-shadow-color: #87c2ef;
	scrollbar-3dlight-color: #87c2ef;
	scrollbar-arrow-color: #330000;
	scrollbar-track-color: #f6f6f6;
	scrollbar-darkshadow-color: #fbfbfb; 
	overflow : auto;
}

input {
	border-top-width: 1px;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-top-color: #cccccc;
	border-bottom-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #cccccc;
	font-family: "宋体";
	font-size: 14px;
}

button {
	border: 1px solid #84a1bd;
	padding: 2px 2px 2px 2px;
	background-position: -70px -424px;
	border-top-color: #84a1bd;
	border-top-width: 1px;
	border-bottom-color: #84a1bd;
	border-bottom-width: 1px;
	border-left-color: #84a1bd;
	border-left-width: 1px;
	border-right-color: #84a1bd;
	border-right-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-family: "宋体";
	font-size: 12px
}

textarea {
	border-width: 1;
	border-color: #000000;
	background-color: #ffffff;
	font-family: "宋体";
	font-size: 12px;
	font-style: bold;
	rows: 3;
	cols: 30;
}

select {
	background-color: #ffffff;
	font-family: "宋体";
	font-size: 14px;
	font-style: bold;
}

div,table,p,td {
	font-family: "宋体";
	font-size: 14px;
}

.navbar {
	width: 100%;
	height: 26;
	color: white;
	border: 0px solid gray;
	background: url("../images/main/titlebar.gif");
	background-repeat: repeat-x;
}

table.query {
	width: 100%;
	border: 1px solid gray;
	background: url("../images/main/highbar4.gif");
}

table.querybar {
	width: 100%;
	border: 1px solid gray;
	padding: 3px;
	background: url("../images/main/highbar1.gif");
}

table.list {
	width: 100%;
	border: 1px solid gray;
	background-color: #E9E9F3;
}

table.list th {
	border: 0px solid gray;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: url("../images/main/highbar3.gif");
}

table.list tr {
	border: 1px solid gray;
	padding: 3px;
	background: #E4E8DF;
}

table.listbar {
	width: 100%;
	border: 1px solid gray;
	background-color: #AAAAFF;
	background: url("../images/main/highbar1.gif");
}

table.edit {
	width: 100%;
	padding: 20px;
	border: 1px solid gray;
	background-color: #ccccff;
	/*background:url('../images/main/bgedit.gif');*/
	background-repeat: repeat;
}

table.editbar {
	width: 100%;
	padding: 20px;
	border: 1px solid gray;
	background-color: #AAAAFF;
	background: url("../images/main/highbar3.gif");
	background-repeat: repeat-x;
}

.opttip {
	padding: 3px;
	align: left;
	width: 1200;
	border: 1px solid red;
	display: block;
}

.groupdiv {
	padding: 3px;
	align: left;
	width: 100%;
	border: 1px solid black;
	display: block;
}

.first {
	width: 100%;
	height: 23;
	padding-left: 15px;
	background: #228845;
	background: url("../images/first/levelone.gif");
}

.second {
	width: 100%;
	height: 23;
	padding-left: 30px;
	background: #788889;
	background: url("../images/first/leveltwo.gif");
}

.third {
	width: 100%;
	height: 23;
	padding-left: 45px;
	background: #9aaadd;
	background: url("../images/first/levelthree.gif");
}